---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Mi Tienda de IDLES";
---

<BaseLayout pageTitle={pageTitle}>
  
  <h1>Poleras</h1>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>

  
</BaseLayout>
